@charset "utf-8";

/*
	Slay Hydra Game Web Page
    Author: Jennifer Putnam, Leland Cash, Walter Holley, Nolan Dyer, Amaya Saunsaucie
    Date: 4/15/2022
	CMPSCI-4500 Software Development:  Group Project

	Slay Hydra Effects Styles

	Filename: slay_hydra_effects.css

*/

/* HTML Styles */

html {
	background-image: url(ocean_bk.jpg);
	background-repeat: round;
	width: 100%;
	background-attachment: fixed;
}

/* Body Styles */

body {
	background:	url(../img/foreground_7.png) round;
	box-shadow: rgb(31, 31, 31) 30px 0px 45px,
				rgb(31, 31, 31) -30px 0px 45px;
}

/* Header Styles */
/* Navigation List Styles */

body > header a {
	border: 5px outset rgb(211, 211, 255);
}


/* Section Styles */

body section div img {
	padding: 25px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

section button {
  border: 5px outset rgb(211, 211, 255);
  background-color: rgb(108, 105, 120);
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  width: 15%;
  display: block;
  margin: auto;
}

section button:hover {
  background-color: rgb(41, 41, 41);
}


/* Footer Styles */

footer {
	border-top: 2px solid rgb(171, 171, 171);
}
